/* Custom Serif Pairing */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .glass-card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(24px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 30px 60px -12px rgba(0, 0, 0, 0.1);
  }
}
.clip-diagonal-reverse {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}
.italic {
  padding-right: 0.1em;
  padding-left: 0.1em;
}

